{% extends '__base__.html' %}

{% block title %}Poetry{% endblock %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}

	<div class="uk-width-medium-3-4">
		{% for blog in blogs %}
			<article class="uk-article">
				<h2><a href="/blog/{{blog.id}}">{{ blog.name }}</a></h2>
				<p class="uk-article-meta">Published at {{ blog.created_at|datetime }}</p>
				<p>{{blog.summary}}</p>
				<p><a href="/blog/{{blog.id}}">Read more<i class="uk-icon-angle-double-right"></i></a></p>
			</article>
			<hr class="uk-article-divider">
		{% endfor %}
		{{ pagination('/?page=', page) }}
	</div>
	
	<div class="uk-width-medium-1-4">
		<div class="uk-panel uk-panel-header">
			<h3 class="uk-panel-title"> Link: </h3>
			<ul class="uk-list uk-list-line">
				<li><i class="uk-icon-link"></i><a target="_blank" href="https://www.poets.org/">Poets</a></li>
				<li><i class="uk-icon-link"></i><a target="_blank" href="https://www.poetryfoundation.org/">Poetry Foundation</a></li>
			</ul>
		</div>
	</div>
	
{% endblock %}